.messageSender{
    display:flex;
    flex-direction:column;
    background-color: white;
    border-radius: 15px;
    /* box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75); */
    position: absolute;
    width: 30%;
    height: 29%;
    left: 32%;
    top: 19%;
    border: 2px solid grey;
    /* margin-top: 100px; */
}
.postTxt{
    /* First name textbox*/
    position: absolute;
    width: 50%;
    border: none;
    height: 20%;
    left: 2%;
    top: 2%;
    border-color: white;
}
.postTxtArea{
    /* First name textbox*/
    position: absolute;
    width: 83%;
    border: none;
    height: 46%;
    left: 2%;
    top: 28%;
}
.sendBtn{
    position: absolute;
    width: 3%;
    border: none;
    height: 5%;
    left: 58%;
    top: 42%;
}
.image-item {
    position: absolute;
    width: 10%;
    height: 4%;
    left: 40%;
    top: 42%;
  }
  .image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .imageApp{   
    /* flex-direction:column;
    background-color: white; */
    position: absolute;
    width: 10%;
    height: 4%;
    left: 33%;
    top: 42%;
  }