.header{
padding:15px 20px;
display:flex;
justify-content: space-between;
position:sticky;
background-color: white;
z-index:100;
top:0;
box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
}

.header__left > h1{
    height: 34px;
    width: 110px;
    left: 50px;
    top: 33px;
    
    

}

.header__input{
    /*height: 60px;
width: 470px;
left: 485px;
top: 20px;
border-radius: 10px;*/

display:flex;
align-items: center;
background-color: #f4f4f4;
padding: 10px;
margin-left: 10px;
border-radius: 20px;

}
.header__input >input{
    border:none;
    background-color: transparent;
    outline-width: 0;
}

.header__info{
    display: flex;
    flex:1;
    justify-content: center;
}