.Timeline{
    position: absolute;
width: 1350px;
height: 880px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.2);
}

.Logo{
    position: absolute;
width: 100px;
height: 100px;
left: 75px;
top: 39px;
}

.Contact{
    position: absolute;
width: 124px;
height: 19px;
left: 1150px;
top: 46px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color:white;
}

.Login{
    position: absolute;
width: 43px;
height: 19px;
left: 1290px;
top: 60px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: white;
}

.para{
    position: absolute;
width: 683px;
height: 190px;
left: 377px;
top: 150px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 100px;
/* or 125% */
color: #FFFFFF;
}

.para1{
    position: absolute;
width: 673px;
height: 85px;
left: 377px;
top: 410px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 550;
font-size: 24px;
line-height: 36px;
/* or 150% */
color: #FFFFFF;
}

.button{
    position: absolute;
width: 300px;
height: 70px;
left: 376px;
top: 570px;

background: #3D358B;
border-radius: 35px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 55px;
/* or 125% */
color: #000000;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 475;
font-size: 18px;
line-height: 28px;
/* or 156% */
color: #000000;
}

.heading1{
    position: absolute;
width: 502px;
height: 96px;
left: 200px;
top: 1000px;
}

.text1{
    position: absolute;
width: 502px;
height: 168px;
left: 200px;
top: 1170px;
}

.img1{
    position: absolute;
width: 415px;
height: 264px;
left: 750px;
top: 1050px;

background: #C4C4C4;
}

.img2{
    position: absolute;
width: 415px;
height: 264px;
left: 200px;
top: 1550px;
background: #C4C4C4;
}

.heading2{
    position: absolute;
left: 750px;
height: 96px;
top: 1500px;
width: 502px;
}

.text2{
    position: absolute;
width: 502px;
height: 168px;
left: 750px;
top: 1650px;
}

.heading3{
    position: absolute;
width: 502px;
height: 96px;
left: 200px;
top: 1980px;
}

.text3{
    position: absolute;
width: 502px;
height: 168px;
left: 200px;
top: 2140px;
}

.img3{
    position: absolute;
width: 415px;
height: 264px;
left: 750px;
top: 2040px;
background: #C4C4C4;
}

#txt,
#show,
#hide:target,
#txt1,
#show1,
#hide1:target,
#txt2,
#show2,
#hide2:target {
    display: none; 
}

#hide:target + #show,
#hide:target ~ #txt,
#hide1:target + #show1,
#hide1:target ~ #txt1,
#hide2:target + #show2,
#hide2:target ~ #txt2 {
    display: inherit; 
}

.Line{
    /* 1st hr  */
position: absolute;
left: 0%;
right: 0%;
top: 950px;
bottom: 0px;

border: 1px solid #EBEBEB;
}

.Box1{
    /* Present Idea */
position: absolute;
left: 17.22%;
right: 72.22%;
top: 1050px;
bottom: 0px;;

font-family: Campton;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 15px;

color: #000000;
}

.Box2{
    /* Investor  */
position: absolute;
left: 33.96%;
right: 57.01%;
top: 1050px;
bottom: 0px;

font-family: Campton;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 15px;
/* or 200% */

color: #000000;
}

.Box3{
    /* Resources  */
position: absolute;
left: 51.18%;
right: 42.22%;
top: 1050px;
bottom: 0px;

font-family: Campton;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 15px;
/* or 200% */

color: #000000;
}

.Box4{
    /* About  */
position: absolute;
left: 68.12%;
right: 25.14%;
top: 1050px;
bottom: 0px;

font-family: Campton;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 15px;
/* or 200% */

color: #000000;
}

.Box5{
    /* Partners  */
position: absolute;
left: 33.96%;
right: 58.75%;
top: 1180px;
bottom: 0px;

font-family: Campton;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 15px;
/* or 200% */

color: #000000;
}

.Box6{
    /* Sell Courses  */
position: absolute;
left: 17.22%;
right: 75.9%;
top: 1280px;
bottom: 0px;

font-family: Campton;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 15px;
/* or 200% */

color: #000000;
}

.Box7{
    /* terms & privacy  */
position: absolute;
left: 33.61%;
right: 53.33%;
top: 1280px;
bottom: 0px;

font-family: Campton;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 15px;
/* or 200% */

color: #000000;
}

.Link-text{
    /* bottom section text-links css  */
font-family: Campton;
font-style: normal;
font-weight: 475;
font-size: 14px;
line-height: 15px;

color: #000000;
}

.Line1{
    /* 2nd hr  */
position: absolute;
left: 0%;
right: 0%;
top: 1500px;
bottom: 0px;

border: 1px solid #EBEBEB;
}

.Footer{
    /* Footer Content  */
position: absolute;
left: 17.15%;
right: 17.01%;
top: 1530px;
bottom: 0px;

font-family: Campton;
font-style: normal;
font-weight: 475;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #000000;
}

.fa{
padding: 10px;
font-size: 10px;
width: 10px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}

.fa-facebook {
background: #3B5998;
color: white;
position: absolute;
left: 73.3%;
right: 23.99%;
top: 110px;
border: 1px solid #E5E5E5;
}
  
.fa-instagram {
background: #125688;
color: white;
position: absolute;
left: 77.77%;
right: 20.52%;
top: 110px;
border: 1px solid #E5E5E5;
}

.fa-twitter {
background: #55ACEE;
color: white;
position: absolute;
left: 82.24%;
right: 17.05%;
top: 110px;
border: 1px solid #E5E5E5;
}

.foot{
    position: absolute;
left: 0%;
right: 0%;
top: 1620px;
bottom: 0px;
}


